<div class="card-provider"> 

  <% if provider.logo_url.blank? %>
    <%= image_tag "enterprise.svg" %>
  <% else %>
    <img src="<%= provider.logo_url %>">
  <% end %>
  
  <div class="card-provider-info">
    <h3><%= provider.name %></h3>
    <p><%= provider.description %></p>
  </div>

  <div class="card-provider-icon" >
    <% if provider.id.in?(selected_ids) %>
      <%= image_tag icons[:check], data: {action: "click->selection#remove"}, id: provider.id %>
    <% else %>
      <%= image_tag icons[:plus], data: {action: "click->selection#add"}, id: provider.id %>
    <% end %>
  </div>

</div>
