<div class="card-provider <%= "checked" if selected_ids.include?(provider.id) %>" 
     data-action="click->selection#toggle" 
     id="<%= provider.id %>">

  <% if provider.logo_url.blank? %>
    <%= image_tag "enterprise.svg" %>
  <% else %>
    <img src="<%= provider.logo_url %>">
  <% end %>
  
  <div class="card-provider-info">
    <h3><%= provider.name %></h3>
    <p><%= provider.description %></p>
  </div>

</div>
