<%= simple_form_for [@move] do |f| %>
  <h1>Create your move!</h1>

  <div class="form-inputs mt-3">
    <hr>
    <h5><strong> 
      <%= f.input :moving_date, as: :string, input_html: {class: "datepicker"}, label: "When are you moving?", placeholder: "Click to pick from calendar"%>
    </strong></h5>
  </div>
  
  <hr>
  <div class="mt-3 mb-3">
    <h5><strong>Where are you moving to?</strong></h5>
  </div>

  <h5><%= f.input :street_name, placeholder: "i.e. Schlossstrasse" %></h5>
  <h5><%= f.input :street_number, placeholder: "12" %>
  <h5><%= f.input :zip, placeholder: "14059" %></h5>
  <h5><%= f.input :city, placeholder: "Berlin" %></h5>

  <div class="form-actions mb-3">
    <%= f.submit class:"button btn btn btn-lg btn-primary" %>
  </div>
<% end %>

<div>
  <p> And start choosing your services on the next step!</p>
  <span> or </span> <%= link_to 'Go back to Dashboard', my_providers_path %>
</div>
