<div class="container-update">
  <div class="update-card">
    <h2>Confirmation</h2>
    <h4><strong> Your new address </strong><i class="fas fa-info-circle"></i></h4>
    <h6 class= "input_information"> <%= @move.address_string %></h6>
    <br>
    <h4><strong>Your moving date </strong><i class="far fa-calendar-alt"></i></h4>
    <h6 class= "input_information"> <%= @move.moving_date %></h6>
    <hr>
    <h4><strong>Your selected services</strong> <i class="far fa-list-alt"></i></h4>
    <% @updates.each do |update| %>
    <hr>
    <p class= "input_information"> <span><%= update.provider.name %></span></p>
    <h6>Your provided identificaton:</h6>
    <p class= "input_information"> <%= update.provider.identifier_name%> </p>
    <% end %>
    <%# <%= link_to "Confirm changes",my_providers_path(@my_providers), class: "btn btn-success mt-5" , id: "submit"%>
    <%# <div  class= "btn btn-success mt-5 " id = "submit">Confirm changes</div> %>
    <div class ="button-position mt-5">
      <div class="confirm">
        <%= link_to "Confirm changes", send_path, class: "btn btn-success", method: "POST" %>
      </div>
      <div class="back">
        <%= link_to "Back to dashboard", my_providers_path %>
      </div>
    </div>
  </div>
  <div class= "update-picture"> </div>
</div>


