<div class="container-update">
  <div class="update-info">
  <h2><strong> Changes review </strong></h2>
  </div>
  <div class="update-card">
  <% @updates.each do |update| %>
  <h5>Personal info:</h5>
  <h6> <%= update.move.address_string %></h6>
  <hr>
  <h5>Your moving date </h5>
  <h6> <%= update.move.moving_date %></h6>
  <hr>
  <h5>Your selected services:</h5>
  <h6> <%= update.provider.name %></h6>
  <h5>Your provided identificaton:</h5>
  <h6> <%= update.provider.identifier_name %></h6>
  <% end %>
  <%= link_to "Confirm changes",my_providers_path(@my_providers), class: "btn btn-success mt-5" %>
  </div>


</div>


