<meta charset="utf-8" />

<style>
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }

  .pdf-sender-right {
    text-align: right;
    margin-bottom: 125px;
  }

  .pdf-recipient-left {

  }

  .pdf-h2 {
    margin-bottom: 50px;
  }

  .pdf-date-right {
    text-align: right;
    margin-top: 75px;
    margin-bottom: 50px;
  }

  .pdf-address {
    font-weight: bold;
  }
  .pdf-greetings-bottom {
    margin-top: 50px;
  }
</style>


<div class="pdf-sender-right">
  <p> <%= @pdf.parent.move.user.full_name %> </p>
  <p>
    <%= "#{@pdf.parent.move.street_name} #{@pdf.parent.move.street_number}" %>
    <br>
    <%= "#{@pdf.parent.move.zip} #{@pdf.parent.move.city}" %>
  </p>
</div>

<div class="pdf-recipient-left">
  <p> <strong> <%= @pdf.parent.provider.name %> </strong> </p>
  <p>
    <%= "#{@pdf.parent.provider.street_name} #{@pdf.parent.provider.street_number}" %>
    <br>
    <%= "#{@pdf.parent.provider.zip} #{@pdf.parent.provider.city}" %>
  </p>
</div>

<div class="pdf-date-right">
  <%= DateTime.now.strftime("%d/%m/%Y") %>
</div>

<h2 class="pdf-h2">
  Adressänderung wegen Umzug
</h2>

<p>
  Sehr geehrte Damen und Herren,
</p>
<p>
  hiermit teile ich Ihnen folgende Änderung meiner Wohnanschrift mit. Die Änderung ist gültig
  ab dem <%= @pdf.parent.move.moving_date.strftime("%d/%m/%Y") %>.
</p>
<p>
  Die neue Anschrift lautet:
</p>

<div class="pdf-address">
  <p>
    <%= "#{@pdf.parent.move.street_name} #{@pdf.parent.move.street_number}" %>
    <br>
    <%= "#{@pdf.parent.move.zip} #{@pdf.parent.move.city}" %>
  </p>
</div>

<div class="pdf-greetings-bottom">
  <p>
    Mit freundlichen Grüßen
    <br>
    <%= @pdf.parent.move.user.full_name %>
  </p>
</div>

