<div class="my-providers-cards mb-3">

  <% @my_providers.each do |my_pro| %>
  <div class="card-my-provider" id='<%= "mp#{my_pro.id}" %>'>

    <%# Must refactor with N+1 request technique %>
    <% if my_pro.provider.logo_url.blank? %>
      <%= image_tag "enterprise.svg" %>
    <% else %>
      <img src="<%= my_pro.provider.logo_url %>">
    <% end %>

    <%# Need to show some notification in case of missing info %>
    <div class="card-my-provider-info">
      <h3> <%= my_pro.provider.name %></h3>
      <p> <%= my_pro.provider.category %></p>
      <%# my_pro.provider.identifier_name = "contract number" %>
      <% unless my_pro.provider.identifier_name.blank? %>
        <p> 
          Additional data requred: 
          <%= link_to my_pro.provider.identifier_name, edit_my_provider_path(my_pro) %>
          <%= icon('fas', "exclamation-triangle") if my_pro.identifier_value.blank? %>
        </p>
      <% end %>
    </div>

    <div class="card-my-provider-icon">
      <%= link_to my_provider_path(my_pro), method: :delete, remote: true do %>
        <%= image_tag "icons/unchecked.svg" %>
      <% end %>
    </div>

  </div>
  <% end %>

</div>
