<div class= "my-providers-cards">
  <% @updates.each do |update| %>
    <div class="card-my-status">

        <% if update.provider.logo_url.blank? %>
          <%= image_tag "enterprise.svg" %>
        <% else %>
          <img src="<%= update.provider.logo_url %>">
        <% end %>

      <div class="card-my-status-info">
        <h5> <%= update.provider.name %></h5>
        <% if update.pdf.present? %>
          <p> 
            <%= link_to pdf_path("#{update.pdf.uuid}") do %>
              Get the paper <%= icon("far", "envelope", class: "text-success") %>
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="card-my-status-right">
        <p>
          <%= "Update #{update.update_status}" %>
          <% case update.update_status %>
          <% when "pending" %>
           <%= icon("fas", "paper-plane", class: "text-info") %>
          <% when "confirmed" %>
           <%= icon("fas", "thumbs-up", class: "text-success") %>
          <% when "declined" %>
           <%= icon("fas", "thumbs-down", class: "text-info") %>
          <% end %>
        </p>
      </div>

    </div>
  <% end %>
</div>