<div class= "my-providers-cards">
  <% @updates.each do |update| %>
    <div class="card-my-status">

        <% if update.provider.logo_url.blank? %>
          <%= image_tag "enterprise.svg" %>
        <% else %>
          <img src="<%= update.provider.logo_url %>">
        <% end %>

      <div class="card-my-status-info">
        <h3> <%= update.provider.name %></h3>
        <p> <%= update.provider.category %></p>
        <% if update.pdf.present? %>
          <p> <%= link_to "Download the letter template",  pdf_path("#{update.pdf.uuid}.pdf") %> </p>
        <% end %>
      </div>

      <div class="card-my-status-right">
        <p>
          <%= update.update_status %>
          <% case update.update_status %>
          <% when "pending" %>
           <%= icon("fas", "paper-plane", class: "text-info") %>
          <% when "changed" %>
           <%= icon("fas", "thumbs-up", class: "text-info") %>
          <% when "declined" %>
           <%= icon("fas", "thumbs-down", class: "text-info") %>
          <% end %>
        </p>
      </div>

    </div>
  <% end %>
</div>