<% checked = params["checked"] == "1" ? "checked" : ""  %>
<% checked_not_present = params["checked"].present? ? "" : "checked"  %>

<div class="tabs-v">

	<input type="radio" name="tabs-v" id="tab1-v" checked="<%= checked_not_present %>">
	<label for="tab1-v">
		<p> 1 . Plan your move </p>
	</label>
	<div class="tab-content">
		<div>
			<div class="txt-tab">
				<div>
					<h3>Where and when do you move? </h3>
					<p>Please let us know your new address and indicate as of when the change should be valid.</p>
					 <%= link_to "Plan your move", new_move_path(@my_provider), class: "btn btn-large btn-success mr-3" %>
				</div>
			</div>
			<div class="img-tab1"></div>
		</div>
	</div>

	<input type="radio" name="tabs-v" id="tab2-v">
	<label for="tab2-v">
		<p> 2 . Add New Providers </p>
	</label>
	<div class="tab-content">
		<div>
			<div class="txt-tab">
				<div>
					<h3>Who do you want to inform? </h3>
					<p>Select all your providers you want to notify. The selection will be saved in your providers list below.</p>
					  <%= link_to "Add new providers", providers_path, class: "btn btn-large btn-success mr-3" %>
				</div>
			</div>
			<div class="img-tab2"></div>
		</div>
	</div>
      
	<input type="radio" name="tabs-v" id="tab3-v" <%= checked %>>
	<label for="tab3-v">
		<p>3 . Confirm & Send</p>
	</label>
	<div class="tab-content">
		<div>
			<div class="txt-tab">
				<div>
					<h3>Everything is ready?</h3>
					<p>In the last step, please review your data. Everything looks fine? Ready to go! 🎉.</p>
					  <%= link_to "Review your data", start_path, method: "POST", class: "btn btn-large btn-success" %>
				</div>
			</div>
			<div class="img-tab3"></div>
		</div>
	</div>
</div>