<div class="text-above text-center">
  <p> Your dashboard allows you to manage your address change easily. You can start a new change process, save your providers and keep track of the update of your requests.</p>
</div>

<div class="container my-5 block">
  <%= render "new-layout" %>

  <div class="card bg-white rounded-0 border-light mt-3 block p-5">
    <h2> Overview </h2>
    <hr>

    <%# Completely new user will see this: %>
    <% if @my_providers.empty? && @move.nil? %>
      <p> Nothing here yet. <br>Start by <%= link_to "planning your move", new_move_path(@my_provider) %>. </p>
    <% end %>

    <%# If we have the move information, we show the move block: %>
    <% unless @move.nil? %>
      <%= render "move-info" %>
      <%# If we already have some updates planned, we also show the updates block: %>
      <% unless @updates.empty? || updates_new? %>
        <h3> Requests sent to providers </h3>
        <%= render "move-updates" %>
      <% end %>
    <% end %>

    <%# If we have any providers selections, we show them: %>
    <% unless @my_providers.empty? %>
      <%= render "my_pro-section" %>
    <% end %>

    <%# A message in case the move is created, but providers are not selected: %>
    <% if @move.present? && @my_providers.empty? && updates_new? %>
      <hr>
      <p> <%= link_to "Select the providers", providers_path %> which you'd like to inform about your new address. </p>
    <% end %>
  </div>
</div>
