<div class="container mt-5">
  <%= link_to "1. Create a new move", new_move_path(@my_provider), class: "btn btn-sm btn-success mb-5" %>
  <%= link_to "2. Add providers to your list", providers_path, class: "btn btn-sm btn-success mb-5" %>
  <%= link_to "3. Start the update process", start_path, method: "POST", class: "btn btn-sm btn-success mb-5" %>
  <h4> Your providers: </h4>
  <%= render "cards" %>
  <h4> Current move: </h4>
  <%= render "move-status" %>
</div>

